<form class="form-horizontal">
  <fieldset>
    <legend>search by artist, song or album</legend>
    <div class="form-group">
      <div class="col-lg-8">
        <div class="col-lg-1">
          <span class="glyphicon glyphicon-search" aria-hidden="true" data-search="icon"></span>
        </div>
        <div class="col-lg-10">
          <input type="text" class="form-control" id="searchTerm" placeholder="Email" data-search='input'>
        </div>
      </div>
    </div>
  </fieldset>
</form>