<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>#</th>
      <th>song title</th>
      <th>artist</th>
      <th>album</th>
    </tr>
  </thead>
  <tbody>
    <% songs.each.with_index(1) do |song, i| %>
    <tr>
        <td><%= i %></td>
        <td><%= link_to song.title, song_path(song) %></td>
        <td><%= link_to song.artist.name, artist_path(song.artist) if song.artist %></td>
        <td><%= link_to song.album.title, album_path(song.album) if song.album %></td>
    </tr>
    <% end %>
  </tbody>
</table> 