<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>title</th> 
    </tr>
  </thead>
  <tbody>
    <% songs.each.with_index(1) do |song, i| %>
    <tr>
      <td><%= i %></td>
      <td><%= link_to song.title, song_path(song) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
</p>